/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 oct. 2021, 12:56:35
    Author     : juancarrizo
*/
.direct-chat-text {
    margin: 0px !important;
    padding: 0px 0px 0px 5px !important;
}

.direct-chat-msg {
    margin-bottom: 2px !important;
    line-height: 100% !important;
    text-align: right !important;
}

.direct-chat-msg.right {
    text-align: left !important;
}

.direct-chat-msg .direct-chat-text {
    background-color: #fff8f8 !important;
    border: 1px solid #f9f9f9 !important;
}

.direct-chat-text {
    background-color: #f9f9f9 !important;
    border: 1px solid #f9f9f9 !important;
}

.right .direct-chat-text {
    margin-left: 0 !important;
    margin-right: 0px !important;
}

.direct-chat-text::after,
.direct-chat-text::before {
    border: solid transparent !important;
    border-right-color: #f9f9f9 !important;
}




.direct-chat-primary .right>.direct-chat-text {
    background-color: #f9f9f9 !important;
    border-color: #f9f9f9 !important;
    color: #000000 !important;
}

.direct-chat-primary .right>.direct-chat-text::after,
.direct-chat-primary .right>.direct-chat-text::before {
    border-left-color: #f9f9f9 !important;
}

/*Divider*/
.wrapper-content {
    position: absolute;
    /*top: 21px;*/
    right: 0;
    /*bottom: 0;*/
    left: 0;
    display: contents;
    background-color: #dedede;
}

.inner-wrapper,
.center.pane .inner {
    display: table;
    width: 100%;
}

.direct-chat .card-body {
    overflow-x: clip;
}

.pane {
    display: table-cell;
}

.left.pane {
    width: 70%;

    border-right: 5px solid gray;
    min-width: 280px;
}

#publisher {
    background-color: black;
}

.center.pane .inner .top,
.center.pane .inner .bottom {
    display: table-row;

}

.right.pane {
    background-color: #fff;
}

.right.pane .card-header {
    padding: 0px 10px 3px;
}

video.OT_video-element {
    object-fit: contain !important;
}

.card {
    margin-bottom: 0px !important;
}

.right.pane .card-footer {
    padding: 0px;
}

@media (max-width: 790px) {
    .left.pane {
        border-right: unset;
        width: 100%;
        display: table-caption;
    }

    .right.pane {
        width: 100%;
    }
}

.video-chat-container {
    height: 350px;
    width: 100%;
    display: none;
}

.direct-chat-primary .right>.direct-chat-text::after,
.direct-chat-primary .right>.direct-chat-text::before {
    border-left-color: #fff;
    display: none;
}

.right .direct-chat-text::after,
.right .direct-chat-text::before {
    border-left-color: #fff;
    border-right-color: transparent;
    display: none;
}

/*Divider*/